{
  "root": true,

  "extends": "eslint:recommended",

  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  },

  "env": {
    "node": true,
    "es6": true
  },

  "rules": {
    "space-infix-ops": "error",
    "space-unary-ops": ["error", {
      "words": true,
      "nonwords": false,
      "overrides": {
        "!": true,
        "!!": true
      }
    }],
    "quotes": "error",
    "semi": "error",
    "no-prototype-builtins": "off",
    "no-empty": "off"
  }
}
